
<%= form_for (@purchase), :html => {:class => "form-horizontal"} do |f| %>
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <%= f.label :supplier_id, :class => "col-md-3 control-label" %>
          <div class="col-md-8">
            <%= f.collection_select :supplier_id, Supplier.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :bill_number, :class => "col-md-3 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :bill_number, :class => "form-control", :placeholder => "bill_number" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <%= f.label :purchase_date, :class => "col-md-3 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :purchase_date, :class => "form-control ", :id => "purchase_date", :placeholder => "YYYY/MM/DD" %>
          </div>
        </div>
      </div>
    </div>
    <hr>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Item's Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody class="add-data">

          <%= f.fields_for :purchase_items do |builder| %>
              <%= render 'field_fields', f: builder %>
          <% end %>
          </tbody>
        </table>
    <hr>
    <div class="col-md-8">
      <%= link_to_add_fields "Add", f, :purchase_items %>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="form-group">
          <div class="col-md-4 control-label"><b>Total Cost</b></div>
          <div class="col-md-8">
            <input type="text" class="total-cost form-control" value="0" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="form-group">
          <%= f.label :discount, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :discount, :class => "form-control ", :id => "purchase_date", :placeholder => "discount" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="form-group">
          <%= f.label :tax, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :tax, :class => "form-control ", :id => "purchase_date", :placeholder => "tax" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="form-group">
          <%= f.label :grand_total, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :grand_total, :class => "form-control ", :id => "purchase_date", :placeholder => "discount" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= button_tag(type: "submit", class: "btn btn-success") do %>
            <span><i class="fa fa-plus"></i> Create</span>
        <% end %>
      </div>
    </div>
<% end %>
<script>
    $('#purchase_date').datepicker({
        format: "yyyy/mm/dd",
    }).on('changeDate', function (e) {
        $(this).datepicker('hide');
    });

    var count = 1;
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('body').on('blur', '.quantity, .unit-price', function(e) {
        var row = $(this).closest('tr');
        var pr = $('.unit-price', row),
            qu = $('.quantity', row),
            total = $('.total', row);
        var grand = $('.total-cost');
        temp = parseFloat(total.val());
        buy_pr = parseFloat(pr.val());
        sell_pr = parseFloat(qu.val());
        if( ! isNaN(buy_pr) && !isNaN(sell_pr) ) {
            total.val( ( sell_pr * buy_pr ).toFixed(2) );
            grand.val(( parseFloat(grand.val()) + (parseFloat(total.val() )- temp)).toFixed(4));
        }
    });
</script>