<body>
<%= form_for (@purchase), :html => {:class => "form-horizontal"} do |f| %>
    <div class="col-md-6 col-md-offset-3 well">
      <div class="form-group">
        <%= f.label :supplier_id, :class => "col-md-3" %>
        <div class="col-md-9">
          <%= f.collection_select :supplier_id, Supplier.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :item_id, :class => "col-md-3" %>
        <div class="col-md-9">
          <%= f.collection_select :item_id, Item.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :unit_cost_price, :class=> "col-md-3" %>
        <div class="col-md-9">
          <%= f.text_field :unit_cost_price, :class => "form-control ",:id =>"start_date", :placeholder => "unit_sell_price" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :quantity, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :quantity, :class => "form-control", :placeholder => "quantity" %> </div>
      </div>
      <div class="form-group">
        <%= f.label :cash_credit, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :cash_credit, :class => "form-control", :placeholder => "cash_credit" %> </div>
      </div>
      <div class="form-group">
        <%= f.label :fiscal_year_id, :class => "col-md-3" %>
        <div class="col-md-9">
          <%= f.collection_select :fiscal_year_id, FiscalYear.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
              <span><i class="fa fa-plus"></i> Update</span>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
</body>