<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Supplier's id:</th>
      <td><%= @purchase.supplier_id %></td>
    </tr>
    <tr>
      <th>Bill number:</th>
      <td><%= @purchase.bill_number %></td>
    </tr>
    <tr>
      <th>Purchase Date:</th>
      <td><%= @purchase.purchase_date %></td>
    </tr>
    <tr>
      <th>Discount:</th>
      <td><%= @purchase.discount %></td>
    </tr>
    <tr>
      <th>Tax:</th>
      <td><%= @purchase.tax %></td>
    </tr>
    <tr>
      <th>Grand Total:</th>
      <td><%= @purchase.grand_total %></td>
    </tr>
  </table>
</div>