<% if CompanyProfile.count == 0 %>
    <%= form_for (@company_profile), :html => {:class => "form-horizontal"} do |f| %>
        <div class="col-md-6 col-md-offset-3 well">
          <% if @company_profile.errors.any? %>
              <div class="alert-danger">
                <h1>
                  <%= pluralize(@company_profile.errors.count, "error") %>
                  occured
                </h1>
                <ul>
                  <% @company_profile.errors.full_messages.each do |e| %>
                      <li> <%= e %> </li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :name, :class => "col-md-3" %>
            <div class="col-md-9"><%= f.text_field :name, :class => "form-control", :placeholder => "name" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :vdc_mun, :class => "col-md-3" %>
            <div class="col-md-9"> <%= f.text_field :vdc_mun, :class => "form-control", :placeholder => "vdc/mun" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :ward_no, :class => "col-md-3" %>
            <div class="col-md-9"> <%= f.text_field :ward_no, :class => "form-control", :placeholder => "ward_no" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, :class => "col-md-3" %>
            <div class="col-md-9"> <%= f.text_field :phone, :class => "form-control", :placeholder => "phone" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :vat_pan_no, :class => "col-md-3" %>
            <div class="col-md-9"><%= f.text_field :vat_pan_no, :class => "form-control", :placeholder => "vat_pan_no" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :logo_url, :class => "col-md-3" %>
            <div class="col-md-9"><%= f.file_field :logo_url, :class => "form-control", :placeholder => "logo_url" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :district, :class => "col-md-3" %>
            <div class="col-md-9"><%= f.text_field :district, :class => "form-control", :placeholder => "district" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :zone, :class => "col-md-3" %>
            <div class="col-md-9"><%= f.text_field :zone, :class => "form-control", :placeholder => "zone" %> </div>
          </div>
          <div class="form-group">
            <%= f.label :fiscal_year_id, :class => "col-md-3" %>
            <div class="col-md-9">
              <%= f.collection_select :fiscal_year_id, FiscalYear.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <%= button_tag(type: "submit", class: "btn btn-success") do %>
                  <span><i class="fa fa-plus"></i> Create</span>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="col-md-4 col-md-offset-4">
      <p>Company profile already exist.</p>
      <div class="col-md-6">
        <a class="btn btn-success btn-block" href="<%= company_profiles_path %>">
          View Profile
        </a>
      </div>
    </div>
<% end %>