<div class="row">
  <div class="col-md-12">
    <h3>Customer|</h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Customer</li>
    </ol>
  </div>
</div>
<div class="action text-center">
  <a href="<%= new_customer_path %>" class="btn btn-primary">Add New Customer</a>
</div>
<table class="table table-bordered" id="customer">
  <thead>
  <tr class="bg-success">
    <th>SN</th>
    <th>Name</th>
    <th>Address</th>
    <th>Contact no.</th>
    <th>Email</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @customers.each_with_index do |customer, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_customers_per_page + i+1 %>
        </td>
        <td><%= customer.name%></td>
        <td><%= customer.address %></td>
        <td><%= customer.contact_no %></td>
        <td><%= customer.email %></td>
        <td>
          <%= link_to "", edit_customer_path(customer), :class => "fa fa-pencil", :title => "Edit" %>
          <%= link_to "", customer_path(customer), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#customer').DataTable();
    });
</script>