<div class="row">
  <div class="col-md-12">
    <h3>Item|
    <small><%= @item.name %></small></h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>
      <li>Detail</li>
    </ol>
  </div>
</div>
<div class=" col-md-6 col-md-offset-3">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Name:</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th>Unit:</th>
      <td><%= @item.unit.name %></td>
    </tr>
    <tr>
      <th>Item code:</th>
      <td><%= @item.item_code %></td>
    </tr>
    <tr>
      <th>Item group id:</th>
      <td><%= @item.item_group.name %></td>
    </tr>
    <tr>
      <th>Unit Price:</th>
      <td><%= @item.stock.unit_price %></td>
    </tr>
    <tr>
      <th>Est Sell Price:</th>
      <td><%= @item.stock.est_sell_price %></td>
    </tr>
    <tr>
      <th>Discription:</th>
      <td><%= @item.description %></td>
    </tr>
    <tr>
      <th>Quantity:</th>
      <td><%= @item.stock.quantity %></td>
    </tr>
  </table>
</div>