 <div class="row">
    <div class="col-md-12">
      <h3>Dashboard</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div align="center">
          <%= image_tag("purchase.png", :alt => "Purchases") %>
          <h3>Purchases</h3>
          <p>
            <a href="<%= new_purchase_path %>" class="btn btn-primary">Purchase Items</a>
            <a href="<%= purchases_path %>" class="btn btn-success">View Purchases</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <div align="center">
          <%= image_tag("sales.png", :alt => "Sales") %>
          <h3>Sales</h3>
          <p>
            <a href="<%= new_sale_path %>" class="btn btn-primary">Sale Items</a>
            <a href="<%= sales_path %>" class="btn btn-success">View Sales</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <div align="center">
          <%= image_tag("Items.png", :alt => "Items") %>
          <h3>Items</h3>
          <p>
            <a href="<%= new_item_path %>" class="btn btn-primary">Add Items</a>
            <a href="<%= items_path %>" class="btn btn-success">View Stock</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div align="center">
          <%= image_tag("supplier.png", :alt => "Customer") %>
          <h3>Suppliers</h3>
          <p>
            <a href="<%= new_supplier_path %>" class="btn btn-primary">Add Suppliers</a>
            <a href="<%= suppliers_path %>" class="btn btn-success">View Supplier</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to customers_path, :action => 'go' do %>
          <div class="well">
            <div align="center">
              <%= image_tag("customer.png", :alt => "Customer") %>
              <h3>Customers</h3>
              <p>
                <a href="<%= new_customer_path %>" class="btn btn-primary">Add Customer</a>
                <a href="<%= customers_path %>" class="btn btn-success">View Customer</a>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to settings_index_path, :action => 'go' do %>
          <div class="well">
            <div align="center">
              <%= image_tag("unit.png", :alt => "Settings") %>
              <h3>Settings</h3>
              <p>
                <a href="<%= settings_index_path %>" class="btn btn-success">Settings</a>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>