<div class="action text-center">
  <a href="<%= new_unit_path %>" class="btn btn-primary">Add New Unit</a>
</div>
<table class="table table-bordered" id="units">
  <thead>
  <tr>
    <th>Name</th>
    <th>Print name</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @units.each do |unit, i| %>
      <tr>
        <td><%= unit.name%></td>
        <td><%= unit.print_name %></td>
        <td>
          <%= link_to "", edit_unit_path(unit), :class => "fa fa-pencil", :title => "Edit" %>
          <%= link_to "", unit_path(unit), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#units').DataTable();
    });
</script>