<div class="container">
  <div class="col-md-6 col-md-offset-3 well">
  <%= form_for (@unit), url: units_path, :html => {:class => "form-horizontal"} do |f| %>
        <% if @unit.errors.any? %>
            <div class="alert-danger">
              <h1>
                <%= pluralize(@unit.errors.count, "error") %>
                occured
              </h1>
              <ul>
                <% @unit.errors.full_messages.each do |e| %>
                    <li> <%= e %> </li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => "form-control", :placeholder => "name" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :print_name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :print_name, :class => "form-control", :placeholder => "print_name" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <%= button_tag(type: "submit", class: "btn btn-success") do %>
                <span><i class="fa fa-plus"></i> Create</span>
            <% end %>
          </div>
        </div>

  <% end %>
  </div>
</div>