<body>
<%= form_for (@supplier), :html => {:class => "form-horizontal"} do |f| %>
    <div class="col-md-6 col-md-offset-3 well">
      <div class="form-group">
        <%= f.label :name, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :name, :class => "form-control", :placeholder => "name" %> </div>
      </div>
      <div class="form-group">
        <%= f.label :address, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :address, :class => "form-control", :placeholder => "address" %> </div>
      </div>
      <div class="form-group">
        <%= f.label :contact_no, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :contact_no, :class => "form-control", :placeholder => "description" %> </div>
      </div>
      <div class="form-group">
        <%= f.label :email, :class => "col-md-3" %>
        <div class="col-md-9"><%= f.text_field :email, :class => "form-control", :placeholder => "description" %> </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= button_tag(type: "submit", class: "btn btn-success") do %>
              <span><i class="fa fa-plus"></i> Update</span>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
</body>