
<div class="row">
  <div class="col-md-12">
    <h3>Sales|</h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Sales</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <% @company_profile.each_with_index do |c|  %>
        <h4>Fiscal Year : <%= c.fiscal_year.name %></h4>
    <% end %>
  </div>
  <div class="pull-right">
    <a href="<%= new_sale_path %>" class="btn btn-primary">New</a>
  </div>
</div>
<table class="table table-bordered" id="sales">
  <thead>
  <tr class="bg-success">
    <th>SN</th>
    <th>Customer's Name</th>
    <th>Bill number</th>
    <th>Sales date</th>
    <th>Discount</th>
    <th>Tax</th>
    <th>Grand Total</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each_with_index do |sale, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_sales_per_page + i+1 %>
        </td>
        <td><%= sale.customer.name %></td>
        <td><%= sale.bill_number %></td>
        <td><%= sale.sales_date %></td>
        <td><%= sale.discount %></td>
        <td><%= sale.tax %></td>
        <td><%= sale.grand_total %></td>
        <td>
          <a title="View details" href="<%= sale_item_path(sale) %>" data-toggle="tooltip" data-placement="right" class="a"><i class="fa fa-eye"  aria-hidden="true"></i></a>
          <%= link_to "", sale_path(sale), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#sales').DataTable();
    });
</script>