<div class="action text-right">
  <a href="<%= new_sale_path %>" class="btn btn-primary">New</a>
</div>
<table class="table table-bordered" id="items">
  <thead>
  <tr>
    <th>SN</th>
    <th>Customer's id</th>
    <th>Bill number</th>
    <th>Sales date</th>
    <th>Discount</th>
    <th>Tax</th>
    <th>Grand Total</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each_with_index do |sale, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_sales_per_page + i+1 %>
        </td>
        <td><%= sale.customer_id %></td>
        <td><%= sale.bill_number %></td>
        <td><%= sale.sales_date %></td>
        <td><%= sale.discount %></td>
        <td><%= sale.tax %></td>
        <td><%= sale.grand_total %></td>
        <td>
          <%= link_to "", edit_sale_path(sale), :class => "fa fa-pencil", :title => "Edit" %>
          <%= link_to "", sale_path(sale), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>