<div class="action text-right">
  <a href="<%= new_sale_path %>" class="btn btn-primary">New</a>
</div>
<table class="table table-bordered" id="items">
  <thead>
  <tr>
    <th>SN</th>
    <th>Customer's id</th>
    <th>Item's name</th>
    <th>Uni sell price</th>
    <th>Quantity</th>
    <th>Cash credit</th>
    <th>Fiscal_year_id</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each_with_index do |sale, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_sales_per_page + i+1 %>
        </td>
        <td><%= sale.customer_id %></td>
        <td><%= sale.item_id %></td>
        <td><%= sale.unit_sell_price %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.cash_credit %></td>
        <td><%= sale.fiscal_year_id %></td>
        <td>
          <%= link_to "", edit_sale_path(sale), :class => "fa fa-pencil", :title => "Edit" %>
          <%= link_to "", sale_path(sale), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>