<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Customer's id:</th>
      <td><%= @sale.customer_id %></td>
    </tr>
    <tr>
      <th>Item's name:</th>
      <td><%= @sale.item_name %></td>
    </tr>
    <tr>
      <th>Unit sell price:</th>
      <td><%= @sale.unit_sell_price %></td>
    </tr>
    <tr>
      <th>Quantity:</th>
      <td><%= @sale.quantity %></td>
    </tr>
    <tr>
      <th>Cash credit:</th>
      <td><%= @sale.cash_credit %></td>
    </tr>
    <tr>
      <th>Fiscal year id:</th>
      <td><%= @sale.fiscal_year_id %></td>
    </tr>
  </table>
</div>