<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Customer's Name:</th>
      <td><%= @sale.customer.name %></td>
    </tr>
    <tr>
      <th>Bill number:</th>
      <td><%= @sale.bill_number %></td>
    </tr>
    <tr>
      <th>Sales Date:</th>
      <td><%= @sale.sales_date %></td>
    </tr>
    <tr>
      <th>Discount:</th>
      <td><%= @sale.discount %></td>
    </tr>
    <tr>
      <th>Tax:</th>
      <td><%= @sale.tax %></td>
    </tr>
    <tr>
      <th>Grand Total:</th>
      <td><%= @sale.grand_total %></td>
    </tr>
  </table>
</div>