<div class="row">
  <div class="col-md-12">
    <h3>Settings|
      <small>Fiscal Year</small>
    </h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/settings/index">Settings</a></li>
      <li>Fiscal year</li>
    </ol>
  </div>
</div>
<div class="action text-center">
  <a href="<%= new_fiscal_year_path %>" class="btn btn-primary">Add New Fiscal Year</a>
</div>
<table class="table table-bordered" id="years">
  <thead>
  <tr class="bg-success">
    <th>SN</th>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @fiscal_years.each_with_index do |fiscal_year, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_items_per_page + i+1 %>
        </td>
        <td><%= fiscal_year.name %></td>
        <td><%= fiscal_year.start_date %></td>
        <td><%= fiscal_year.end_date %></td>
        <td>
          <%= link_to "", edit_fiscal_year_path(fiscal_year), :class => "fa fa-pencil", :title => "Edit" %>
          <%= link_to "", fiscal_year_path(fiscal_year), :class => "fa fa-trash", :title => "Delete",
                      method: :delete,
                      data: {confirm: "Are you sure"} %> <i aria-hidden="true"></i>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#years').DataTable();
    });
</script>